* {
    margin: 0;
}

.roboto-condensed-normal {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.container {
    display: flex;
    gap: 25px;
    padding: 20px 20px;
    flex-wrap: wrap;
    
}
.card {
    background-color: #eee;
    width: 55px;
    padding: 10px;
    border-radius: 8px;
}

.card > a {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.card h4 {
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    text-align: center;
}

.image {
    width: 55px;
    margin-bottom: 0;

}

.image > img {
    width: 100%;
}

a {
    display: inline;
    text-decoration: none;
}

a:visited {
    color: #222;
}
a:link {
    color: #222;
}
